html,
body {
    margin: 20;
    padding: 0px;
    background-color: rgb(73, 74, 77);
    text-align: center;
    background-image: url("./assets/dodgerstadium.webp");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: -160px;
    background-position-x: auto;

}

main {
    color: rgb(121, 117, 117);
    margin: 0 20%;
}

/* table {
    color: rgb(96, 100, 103);
    border: 3px solid black;
    width: 100%;
} */
